* {
    margin: 0;
    font-family: sans-serif;
}
.p1 {
    padding: 20px;
    border-radius: 15px;
    background: #23A6F0;
color: white;
}
.p2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.p3 {
    background-image: url(./images/5283001111038073384_121.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}
.p4 {
    padding: 15px;
    border-radius: 25px;
    background: #23A6F0;
    
}
.p5 {
    padding: 15px;
    border-radius: 25px;
    background: #23a5f000;
    border: 2px solid white;
}
.p6 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.p7 {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.p8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
form {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.p9 {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.p10 {
    display: flex;
    gap: 15px;
}
.m2 {
    display: none;
}
.m3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.m4 {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 30px;
    background-color: #23A6F0;
    border-radius: 15px;
    color: white;
}
.m5 {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}
.m6 {
    display: flex;
    justify-content: space-around;
}
.m7 {
    padding: 20px;
    border: 2px solid gray;
    background: #FAFAFA;
    border-radius: 5px;

}
.m8 {
    display: flex;
    justify-content: space-around;
}
.m9 {
    
    padding: 25px;
        background: #FAFAFA;
border: 2px solid gray;
border-radius: 5px;
}
.m9 h3 {
    color: #252B42;
}
.m10 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.m11 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.n1 {
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid gray;
            background: #FAFAFA;

}
.n3 {
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid gray;
background: #252B42;
color: white;
}
.n2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.n4 {
    padding: 20px;
    background: #23A6F0;

}
input {
    padding: 20px;
    width: 230px;

}
.n5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: #252B42;
padding: 50px;
margin-top: 100px;
}
.n6 {
    display: flex;
    border-radius: 10px;
}
.n10 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.n10 h3 {
    color: #252B42;
}



@media (max-width: 510px) {
  .p3 {
    display: none;
  }
  .p10 {
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    font-size: 30px;
  }
  .m1 {
    background-image: url(./images/5283001111038073387_121.jpg);
    padding: 30px;
    margin-top: 30px;
  }
  .p9 {
    text-align: center;
  }
  .p6 {
    flex-direction: column;
    row-gap: 15px;
  }
  .p7 {
    margin-top: 30px;
  }
  .m2 {
    display: block;
  }
  .m6 {
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .m8 {
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .m10 {
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .n2 {
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .n10 {
    flex-direction: column;
    row-gap: 30px;
    width: 90%;
    margin: auto;
  }
  .m11 {
    display: none;
  }
.n7 {
    display: none;
}
  .n5 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 20px;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }

 

}